h1{
    font: size 40px;
    color: red;
    font-weight: bold; 
}

.miCss{
    background-color: rgb(27, 88, 19);
    padding: 1%;
    margin-top: 10px;
    border-radius: 18px;
    font-size: 20px;
    color: #fff;
}

.miCssRojo{
    background-color: rgb(242, 20, 20);
    padding: 1%;
    margin-top: 10px;
    border-radius: 18px;
    font-size: 20px;
    color: #fff;
}